.aboutMeContainer {
    display: flex;
    gap : 5em;
    padding: 90px 50px;
}

.img {
    width: 30%;
    align-self: center;
    overflow: hidden;
    justify-content: center;
    padding-left: 20px;
    object-fit: cover;
}

.desc {
    justify-content: center;
    width: 50%;
    color: white;
    text-align: justify;
    
}

@media screen and (max-width : 980px){

    .img{
        width: 40%;
    }
}

@media screen and (max-width : 835px){
    .aboutMeContainer{
        flex-direction: column;
    }
    .img{
        width: 80%;
       
    }
    .desc{
        width: 100%;
    }
}

