.aboutMeContainer {
    display: flex;
    gap : 5em;
    padding: 90px 50px;
}

.img {
    height: 50%;
    width: 30%;
    align-self: center;
    overflow: hidden;
    justify-content: center;
    padding-left: 20px;
}

.desc {
    justify-content: center;
    width: 50%;
    color: white;
    
}

@media screen and (max-width : 980px){

    .img{
        width: 40%;
    }
}

@media screen and (max-width : 835px){
    .img{
        width: 50%;
    }
}

@media screen and (max-width : 700px){
    .img{
        width: 80%;
    }
    .aboutMeContainer{
        flex-direction: column;
    }
}