.container{
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

.navBar {
    z-index: 100;
    width: 100%;
}

.carrousel{
    padding-bottom: 0;
    margin-bottom: 0;
    height: 89vh;
}