.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.navBar {
    box-sizing: border-box;
    position: sticky;
    z-index: 100;
    height: 10.47vh;
}

.carrousel{
   height: 100%;
    
 
}